<div class='container'>
    <ul class="collection with-header">
		 <li class="collection-header"><h4>All Users</h4></li>
	<% @users.each_with_index do |user, index| %>
	<li class="collection-item avatar">
		<i class="material-icons circle">face</i>
		<span class="title">Name: <%= user.first_name + ' ' + user.last_name %></span>
		<p>Email: <%= user.email %> <br>
		Phone: <%= user.phone_number %>
		</p>
		<%= link_to("Details", user_path(user), class: "secondary-content") %>
	</li>
	<% end %>
     </ul>
</div>