<h1>Admin</h1>
<ul>
	<li><%= link_to("All User", admin_users_path) %>
	<li><%= link_to("Add new User", new_admin_user_path) %></li>
	<li><%= link_to("Add new Referral Code", new_admin_referral_code_path) %></li>
	<li><%= link_to("Add new Referral", new_admin_referral_path) %></li>
</ul>
